html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main-content{
    height: 100vh;
    width: 100%;
}

.header-container{
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 1;
}

.logo{
    height: 50%;
}

.menu-container{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.menu-item{
    margin-left: 3vw;
    font-size: 18px;
}

.menu-item:hover{
    opacity: 0.8;
}

.menu-item-link{
    text-decoration: none;
    color: white;
}

.menu-item-link:hover{
    text-decoration: none;
    opacity: 0.8;
    color: white;
}


/*Slider style*/

.carousel{
    height: 100vh;
    width: 100%;
}

.carousel-inner{
    width: 100%;
    height: 100%;
}

.carousel-item{
    height: 100%;
    width: 100%;
}

.img-slider{
    height: 100%;
    position: relative;
    object-fit: cover;
}

.content-slider{
    background: linear-gradient(rgba(0,0,0,0.5), transparent, rgba(0,0,0,0.8));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 20vh;
}

.text-slide{
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: white;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}


.link-slide{
    padding: 12px 45px;
    background-color: white;
    border-radius: 35px;
    color: #121212;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

.link-slide:hover{
    background-color: rgb(211, 211, 211);
    color: #121212;
    text-decoration: none;
}